@import 'tailwindcss';
@import './fonts.css';

@theme {
	--color-lumka: #d5decf;
}

.main-grid {
	@apply grid grid-cols-10 gap-[12px] sm:grid-cols-15  sm:gap-[24px];
}

.px-page {
	@apply px-[12px] sm:px-[18px];
}

p:empty {
	@apply hidden;
}

.medium-zoom-image--opened {
	z-index: 99999;
}

.medium-zoom-overlay {
	z-index: 99998;
}
