@import 'tailwindcss';
@import './fonts.css';

@theme {
	--color-lumka: #e9d5d3;
}

.main-grid {
	@apply grid grid-cols-10 gap-[12px] sm:grid-cols-15  sm:gap-[24px];
}

.px-page {
	@apply px-[12px] sm:px-[18px];
}

p:empty {
	@apply hidden;
}

.medium-zoom-image--opened {
	z-index: 99999;
}

.medium-zoom-overlay {
	z-index: 99998;
}

* {
	transition-timing-function: cubic-bezier(0.45, 0, 0.05, 1) !important;
}

:root {
	--col-count: 15;
	--gap: 24px;
	--margin: 18px;
}

.col-span {
	width: calc(
		(100vw - (var(--col-count) - 1) * var(--gap) - var(--margin) * 2) / var(--col-count) *
			var(--span) + (var(--span) - 1) * var(--gap)
	) !important;
}

.embla__viewport {
	overflow: hidden;
}

.swiper-slide {
	--span: 0;
	--slide-spacing: max(
		calc(
			(100vw - (var(--col-count) - 1) * var(--gap) - var(--margin) * 2) / var(--col-count) *
				var(--span) + (var(--span) + 1) * var(--gap)
		),
		24px
	);
	margin-left: calc((var(--slide-spacing)) / 2);
	margin-right: calc((var(--slide-spacing)) / 2);
}

.h-dvh {
	height: 100vh;
	height: 100dvh;
}
